BasedOnStyle: LLVM

AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 100
EmptyLineAfterAccessModifier: Always
IndentWidth: 4
PenaltyReturnTypeOnItsOwnLine: 9999
PointerAlignment: Left
